body {
  background-color: rgb(247, 244, 250);
}

*{
  margin: 0;
  padding: 0;
}

.head {
  background-color: rgb(108, 76, 160);
  text-align: center;
  color: white;
  padding: 50px;
  height: 7pc;
  font-size: 60px;
  margin: 30px;
  padding-bottom: 20px;
}

h1 {
  font-size: 50x;
  color: rgb(48, 28, 75);
}
p {
  font-size: 20px;
}
h2 {
  color: rgb(48, 28, 75);
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d3d1d1;
}

th {
  background-color: #246ab9;
  color: white;
}


.header {
  overflow: hidden;
  background-color: #393e46;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: right;
  padding: 18px;
  text-decoration: none;
  font-size: 26px;
  line-height: 25px;
  border-radius: 5px;
}

#logo {
  font-size: 37px;
  font-weight: bold;
  color: white;
}

#logo:hover {
  background-color: #393e46;
  color: black;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #6d9886;
  color: white;
}

.header-right {
  float: right;
}

.container{
  margin: 2%;
}
